apify_storage
node_modules
data
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
WebScrapper.iml
.gitignore
misc.xml
modules.xml
vcs.xml
.idea/jsLibraryMappings.xml
.idea/sqldialects.xml
dataextracted/productData.json
dataextracted/questions.json
dataextracted/reviews.json
datatransformed/productTransformed.json
datatransformed/questionAnswersTransformed.json
datatransformed/questionsTransformed.json
datatransformed/reviewCommentsTransformed.json
datatransformed/reviewsTransformed.json
